.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures the image fits within the border radius */
    display: flex;
    flex-direction: column;
  }
  
  .cardImage {
    width: 100%;
    object-fit: cover; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
  }
  
  .cardTitle {
    font-size: 1.5rem;
    margin: 8px 16px;
    color: #333; /* Adjust the color as needed */
  }
  
  .cardInfo {
    display: flex;
    justify-content: space-between;
    margin: 8px 16px;
  }
  
  .cardArea, .cardTraffic {
    font-size: 1rem;
    color: #666; /* Adjust the color as needed */
    background-color: #eee; /* Adjust the background color as needed */
    padding: 4px 8px;
    border-radius: 5px;
  }
  
  .cardAddress {
    margin: 16px;
    font-size: 1rem;
    color: #666; /* Adjust the color as needed */
  }
  
  .learnMoreButton {
    background-color: #007bff; /* Adjust the button color as needed */
    color: #fff;
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    margin: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .learnMoreButton:hover {
    background-color: #0056b3; /* Darken button on hover */
  }
  